In [1]:
import pandas as pd
pd.set_option('display.precision', 2)

In [2]:
df = pd.read_csv('adult.data.csv')

## Question 1
How many men and women (sex feature) are represented in this dataset?

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

## Answer 1

There are 21790 men and 10771 female

## Question 2
What is the average age (age features) of women?

In [6]:
women = df[df['sex'] == 'Female']
women['age'].mean()

36.85823043357163

## Answer 2

The aveage age of women is 37

## Question 3
What is percentage of German citizen (native-country feature)?

In [7]:
number_of_records = df.shape[0]
german = df[df['native-country'] == 'Germany']
number_germans = german.shape[0]
percentage_german = number_germans / number_of_records * 100
percentage_german

0.42074874850281013

## Answer 3
There are 0.42% of Germans

## Question 4 - 5
What are the mean and standard deviation of age for those who earn more than 50k per years (salary feature) and those who earn less than 50k per year?

In [9]:
morethan50 = df[df['salary'] == '>50K']
morethan50['age'].mean()

44.24984058155847

In [10]:
morethan50['age'].std()

10.51902771985177

In [11]:
lessthan50 = df[df['salary'] == '<=50K']
lessthan50['age'].mean()

36.78373786407767

In [12]:
lessthan50['age'].std()

14.020088490824813

## Answer
1. The mean age of those who earn more thatn 50k is 44
2. The standard deviation age of those who earn more thatn 50k is 10.5


1. The mean age of those who earn less than 50k is 37
2. The standard deviation age of those who earn less than 50k is  14

## Question 6
Is it true that people who earn more than 50k have at least high school education?
(education - Bachelor, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [13]:
morethan50 = df[df['salary'] == '>50K']
morethan50['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

## Answer 6
It is not true

## Question 7
Display age statistics for each race (race feature) and each gender (sex feature). Use groupby and describe(). Find the maximum age of men of Amer-Indian-Eskimo race

In [14]:
df.groupby(['race', 'sex'])['age'].max()

race                sex
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

## Answer
The maximum age of men in Amer-Indian-Eskimo race is 80

## Question 8

Among whom is the proportion of those earn a lot (>50k) greater: married or single men (marital-status feature)?
Consider as married those who have marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-Spouse), the rest are considered bachelors.

In [23]:
df[df['marital-status'].str.startswith('Married')]['salary']#.value_counts(normalize=True)

1        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
         ...
32552    <=50K
32554     >50K
32556    <=50K
32557     >50K
32560     >50K
Name: salary, Length: 15417, dtype: object

In [16]:
df[df['marital-status'].str.startswith('Married') == False]['salary'].value_counts(normalize=True)

<=50K    0.94
>50K     0.06
Name: salary, dtype: float64

## Answer 8
The proportion of those that earn alot is more among the married than among the singles

## Question 9
What us the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50k) among them?

In [17]:
df['hours-per-week'].max()

99

In [18]:
df[df['hours-per-week'] == df['hours-per-week'].max()].shape[0]

85

## Answer
1. The maximum number of hours a person worked per week is 99
2. Number of people that worked maximum hours is 85

## Question 10
Count the average time of work (hours-per-week) for those who earn a little and a lot salary for each country (native-country). What will these be for Japan?

In [19]:
little = df[df['salary'] == '<=50K']
little.groupby('native-country')['hours-per-week'].mean()

native-country
?                             40.16
Cambodia                      41.42
Canada                        37.91
China                         37.38
Columbia                      38.68
Cuba                          37.99
Dominican-Republic            42.34
Ecuador                       38.04
El-Salvador                   36.03
England                       40.48
France                        41.06
Germany                       39.14
Greece                        41.81
Guatemala                     39.36
Haiti                         36.33
Holand-Netherlands            40.00
Honduras                      34.33
Hong                          39.14
Hungary                       31.30
India                         38.23
Iran                          41.44
Ireland                       40.95
Italy                         39.62
Jamaica                       38.24
Japan                         41.00
Laos                          40.38
Mexico                        40.00
Nicaragua                     36.09
Outlying-US(Guam-USVI-etc)    41.86
Peru                          35.07
Philippines                   38.07
Poland                        38.17
Portugal                      41.94
Puerto-Rico                   38.47
Scotland                      39.44
South                         40.16
Taiwan                        33.77
Thailand                      42.87
Trinadad&Tobago               37.06
United-States                 38.80
Vietnam                       37.19
Yugoslavia                    41.60
Name: hours-per-week, dtype: float64

In [20]:
little.groupby('native-country')['hours-per-week'].mean()['Japan']

41.0

In [21]:
large = df[df['salary'] == '>50K']
large.groupby('native-country')['hours-per-week'].mean()

native-country
?                     45.55
Cambodia              40.00
Canada                45.64
China                 38.90
Columbia              50.00
Cuba                  42.44
Dominican-Republic    47.00
Ecuador               48.75
El-Salvador           45.00
England               44.53
France                50.75
Germany               44.98
Greece                50.62
Guatemala             36.67
Haiti                 42.75
Honduras              60.00
Hong                  45.00
Hungary               50.00
India                 46.48
Iran                  47.50
Ireland               48.00
Italy                 45.40
Jamaica               41.10
Japan                 47.96
Laos                  40.00
Mexico                46.58
Nicaragua             37.50
Peru                  40.00
Philippines           43.03
Poland                39.00
Portugal              41.50
Puerto-Rico           39.42
Scotland              46.67
South                 51.44
Taiwan                46.80
Thailand              58.33
Trinadad&Tobago       40.00
United-States         45.51
Vietnam               39.20
Yugoslavia            49.50
Name: hours-per-week, dtype: float64

In [22]:
large.groupby('native-country')['hours-per-week'].mean()['Japan']

47.958333333333336